#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 100;
}

#streamplayer {
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 500;
}

.stream-description {
    background-color: white;
    padding: 2px;
}

.streamlinks {
    text-align: center;
}

.streamlinks a {
    display: inline-block;
    width: 99px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}
