/* ASSEMBLY CMS ADMIN STYLES */

body {
    margin:0;
    padding:0;
    background-color: #eee;
    background-image: url('/@@/asm.cmsui/images/ui-bg-grey-noise.png');
}

* {
    font-family: "Helvetica", "Lucida Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Page grid/layout */

#header {
    margin-bottom:1em;
    padding-left:2em;
    padding-top:1em;
    padding-bottom:1.25em;
    padding-right:2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    background-color: white;
    background-image: url('/@@/asm.cmsui/images/ui-bg-white-noise.png');
    -webkit-box-shadow: #aaa 0px 0px 8px;
    -moz-box-shadow: #aaa 0px 0px 8px;
}

#header h1 {
    float: left;
    margin-top:0.2em;
    margin-left: 0.75em;
    font-size:1.6em;
    font-weight: light;
    text-transform: uppercase;
}

#header h1 a {
    color: #333;
}

#content, #navigation {
    padding-top:1em;
}

#header .button {
    float: right;
    margin-right: 1em;
}

.actionbar {
    position: fixed;
    top: 6em;
    left: 59.5em;
    width:15em;
}

#page {
    position: relative;
    background-color: white;
    background-image: url('/@@/asm.cmsui/images/ui-bg-white-noise.png');
    top: 6em;
    left: 3em;
    width:50em;
    margin:1em 0em 1em 0em;
    padding:0em 1.5em 1em 1.5em;
    min-height: 500px;
    -webkit-box-shadow: #aaa 0px 2px 4px;
    -moz-box-shadow: #aaa 0px 2px 4px;
    border-top:1px solid #d9d9d9;
}

/* Intra-page styles */
#page .section {
    margin:1em -1.5em 0em;
    padding:0em 1.5em 1em;
}

#page .section h2,  #page .section h3 {
    margin-bottom:0;
}

#page ul {
    margin-bottom:0;
}

#page form h3 {
    background-color: #eee;
    padding:1em;
}

#actionsView {
    margin-top:1em;
}

#actionsView .button {
    margin-left: 0px;
}

/* Navigation tree */
#navigation {
    display: none;
}

#navigation-tree.jstree-focused {
    background-color: inherit;
}

.header-buttons {
    position:absolute;
    width:50em;
    padding:0;
}

input.close-navigation, input.open-navigation {
    position:absolute;
    right:0em;
    margin:0;
    top:0.5em;
}

/* actions bar */
#navigation-actions {
    display:none;
}

.actionbar .section {
    background-color:white;
    background-image: url('/@@/asm.cmsui/images/ui-bg-white-noise.png');
    padding:1em;
    padding-top:0.5em;
    margin-top:1em;
    margin-bottom:2em;
    border-top:1px solid #d9d9d9;
    -webkit-box-shadow: #aaa 0px 2px 4px;
    -moz-box-shadow: #aaa 0px 2px 4px;
}

.actionbar .section.expandable {
    padding-bottom: 0em;
}

.actionbar .opener {
    margin: 1em -1em;
    background-color: #eee;
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.actionbar .section h3 {
    font-size: 10pt;
    font-weight: normal;
    margin: 0.2em 0 0.8em;
    text-transform: uppercase;
}

.actionbar ul {
    list-style-type:none;
    margin-left:0;
    margin-bottom:0;
    margin-right:0;
}

.actionbar li.selected {
    background-color: yellow;
}

.actionbar li {
    padding:0.25em 0em;
}


.actionbar p.hint {
    font-size: 8pt;
    margin-bottom:0;
}

/* Expandable sections */
.expandable .opener {
    text-align: center;
    margin-bottom:0;
}

.expandable .opener span {
    font-weight:normal;
}

.expandable .opener .open {
    display: none;
}

.expandable .expand {
    display: none;
}

.expandable h3.opener {
    text-align: left;
}

.expandable h3.opener>span {
    text-align: left;
    float:right;
}

.expandable h3 .opener {
    text-align: left;
}

.expandable h3 .opener span {
    display: block;
    float: left;
}


.section .field {
    padding: 1em;
}

#content .section.expandable {
    border:1px solid #ccc;
    margin:0;
    margin-top:1em;
    padding:0;
}

/* other stuff */
div.preview {
    color:#555;
}

span.match {
    background-color:yellow;
}

span.discreet {
    color:#666;
    font-size:80%;
}

.widget input.textType {
    font-size:1.6em;
    font-family:Georgia;
    width: 97%;
}

.widget {
    margin:0 0 1em 0;
}

.field span {
    color:#666;
}

.error-notice {
    margin:0;
}

.button {
    line-height:16px;
        cursor:pointer;
        border:1px solid #ccc;
        border-bottom:1px solid #b9b9b9;
        font-size:12px;
        padding:3px 10px;
        font-weight:bold;
        background:#ddd;
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.14, rgb(224,224,224)),
            color-stop(0.80, rgb(245,245,245))
        );
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(224,224,224) 14%,
            rgb(245,245,245) 80%
        );
  color:#343434;
  text-shadow:0 1px 1px #fff;
  -webkit-border-radius:5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button:active {
   background:#ddd;
}

.button.selected {
    background-color: yellow;
}

.button:hover {
    border:1px solid #aaa;
}

.button.disabled {
	background-image:none;
	color:#aaa;
}

#page ul.messages.section {
    padding:0;
    margin:0;
}

ul.messages li, .notification {
    background-color:#FFFFE0;
    border:1px solid #E6DB55;
    color:#333;
    padding:3px 10px;
    list-style:none;
    margin:0 0 15px 0;
}

ul.messages li.warning {
    background-color:#FFDDDD;
    border:1px solid #FF0000;
    color:#333;
}

ul.messages li.success {
    background-color:#DDFFDD;
    border:1px solid #99FF99;
    color:#333;
}

.widget img {
    margin-top:0.5em;
    max-width: 49em;
}

a.highlight {
    background-color:yellow;
}

/* clearfix */
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* jQuery fixes */
.ui-icon {
    display: inline-block;
}

/* Search */
#search {
    float: right;
}

/* Search and replace */

.search-and-replace ul {
    list-style-type: none;
    margin-left: 0;
}

/* XXX as this is not a template, we refer to the actual icon file in a
   location that hopefully works. */
input.search {
    background-image: url("/@@/asm.cmsui/icons/zoom.png");
    background-repeat: no-repeat;
    background-position: 95% center;
}

.search-and-replace label {
    font-weight: normal;
}

span.rename-label {
    color: grey;
    font-size:80%;
}

.rename-page {
    width: 16px;
    background: transparent url(/@@/asm.cmsui/icons/pencil.png) center center no-repeat !important;
}

.workflow-public {
    color: green;
}

.workflow-private {
    color: red;
}
