/* headers */
h1, h2, h3, h4, h5 {color:#333; border:0; font-family:"Trebuched MS", Verdana, Arial; font-weight:bold;}
h2 a, h2 a:link, h2 a:visited {text-decoration:none; color:#2d778e;;}
h1 {font-size:2em; border-bottom:1px solid #ccc; }
h2 {font-size:1.5em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em; margin:0px;}
h5 {font-size:1.1em;}

/* anchors */
a, a:link {color:#2d778e;}
a:hover {text-decoration:none; color:#e70101;}
a:active,:focus {outline:none;}

/* misc */
img {border:0;}
ul {list-style-image:none; list-style-type:disc; margin-bottom:10px;}
hr {color: #999; background-color: #e4e4e4; margin:15px 0 5px 0; clear:both;}
p {margin:0 0 1.5em 0;}
table {width:100%}
table td {padding:5px; margin:0;}

/* modifiers */
.odd {background-color:#e4e4e4;}
.even {background-color:#f4f4f4;}
.past {opacity:0.5;}
.running {font-weight:bold; background:#e4e4e4}

/* structure */
body {
background:url("../images/site-bg.jpg") #030a13 center top no-repeat;
font-family:Verdana, "Trebuchet MS", "Lucida Grande", Arial, Sans-serif;
padding:0; margin:0; font-size:0.7em;
}

#main {margin:0 auto; width:994px;}

#nav-top {width:550px; height:30px; background:#111; border:2px solid #555; border-radius:6px; font-size:12px; position:absolute; top:20px; left:50%; margin-left:-255px;}
#nav-top a {padding:5px 10px 5px 5px; color:white; font-weight:bold; text-decoration:none;}
#nav-top a:hover {text-decoration:underline;}
#nav-top ul {margin: 8px 0; text-align:center; padding:0;}
#nav-top li {margin:0 5px; padding:5px; display:inline; list-style-type:none;}

#header {background:url("../images/header-bg.jpg") no-repeat; color:#eee; height:177px;}
#header h1 {margin:0;text-indent:-9999cm; border:0;}
#header h1 a {width:300px; height:177px; display:block; float:left; text-indent:-9999cm;}
#header-tickets-link {width:300px; height:177px; display:block; float:right; text-indent:-9999cm;}

#subheader {
background:url("../images/subheader-bg.png") no-repeat;
color:#585858; height:33px; padding:15px 20px 0 20px; font-weight:bold; font-size:1em;
}
#subheader form {display:inline; margin:0;}
#subheader input {margin-left:5px; padding-left:20px; background:url("../images/search-bg.gif") no-repeat; border:1px solid #ccc; color:#555;}
#clockWrapper {float:left; padding-top:2px;}
#search {width:220px; float:left; margin-left:20px;}
#search input {width:15em; height:15px;}
#language {float:right;}
#language button {background:transparent; border:0px; font-size:100%; margin:0; font-weight:bold;}
.language-english:after {content:url("../images/button-english.gif"); margin-left:4px;}
.language-finnish:after {content:url("../images/button-finnish.gif"); margin-left:4px;}
#language button:hover {text-decoration:underline; color:#e70101; cursor:pointer;}

#container {
background:url("../images/container-bg.gif") bottom left repeat-y #f5f5f5;
padding-top:10px; margin:0 2px 0 3px;
}
.clearfix:after, #container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}*/
.clearfix, #container {display:block;}

#content-column {width:581px; display:inline; float:left;}
#content-column h1 {margin:0px 0 5px 0; padding:0;}
#content-column h2 {margin:10px 0 5px 0; padding:0;}

#content-padding {padding:0 10px 0 10px;}
#leftbar {padding:0 2px 0 6px; width:197px; float:left;}
#rightbar {padding:0 2px 0 0; width:197px; float:right;}

#footer {
background:url("../images/footer-bg-summer.gif") no-repeat transparent;
clear:both; color:#ccc; height:127px; padding:20px 0 0 0; margin:0 auto 20px auto; width:994px;
}
#footer-links {margin:30px 0 0 20px; color:#efefef; text-align:center;}
#footer-links a {color:white; text-decoration:none; font-weight:bold;}
#footer-links a:hover {text-decoration:underline;}

/* sidebar navgiation mess */
#navigation ul {margin:0; padding:0;}
#navigation {padding:0 0 0 0; margin:0 5px 20px 0; list-style-type:none; list-style-position: outside; font-weight:bold; overflow:hidden;}
#navigation a {color:black;text-decoration:none;}
#navigation a:hover {color:black;}
#navigation li a:before { content:url("../images/bullet-arrows.gif"); margin-right:5px;}
#navigation li, ul#navigation li.has_no_children {
background: url("../images/nav-bg-bottom.gif") 0 100% no-repeat;
margin:0;
padding:0 0 5px 0;
display:block;
color:black;
}
#navigation a, ul#navigation li.has_no_children a {
background: url("../images/nav-bg-top.gif") 0 0 no-repeat;
margin:0;
padding:5px 0 0 10px;
display:block;
color:black;
}
#navigation .active, #navigation > li.active.has_no_children {padding:0;}
#navigation .active a {background-image:url("../images/w8-nav-sub-bg-top.gif"); color:white;padding:2px 0 12px 20px;}
#navigation > li.active.has_no_children a {
background-image:url("../images/w8-nav-high-bg-top.gif");
color:white;
padding:2px 0 5px 20px;
height: 15px;
}
#navigation .active ul li a:before, #navigation .active a:before {content:"";}
#navigation .active ul li {width:192px; background: url("../images/nav-sub-bg-bottom.gif") #201f1f 0 100% no-repeat; padding:0 0 5px 0; margin:0 0 0 0;}
#navigation .active ul li a {
background-image:none;
color:white;
margin:0 2px 0 0;
padding-left:30px;
border-bottom:1px dotted #3e3e3e;
}
#navigation .active ul a:hover {text-decoration:underline;}
#navigation .active ul li a {
background:transparent url("../images/w8-bullet-dark-bg.gif") no-repeat scroll left center;
border-bottom:1px dotted #3E3E3E;
color:white;
margin:0 2px 0 20px;
padding:0 0 1px 12px;
}
#navigation .active ul li {background-image:none; color:#000;}
#navigation .active ul ul li {margin:5px 0 0px 16px; width:180px; font-weight:normal; line-height:1; padding:0 0 2px 0; }
#navigation .active ul ul li a {padding:0; padding-bottom:2px;background:none;}
#navigation .active ul ul ul li {padding-left:5px; margin-bottom: 5px; border-top:1px dotted #333; font-weight:normal;}
#navigation .active ul ul ul li a {border:0;}

/* sidebar stuff */
.banner {text-align:center; margin:8px 0;}
.sponsors {text-align:center;}
.sponsors h4 {margin:0 4px 10px 0;}
.sponsors a {text-decoration:none; color:#333;}

.box-light {background: url("../images/bg-box-light-bottom2.gif") 0 100% no-repeat; padding-bottom:10px; margin:5px 0;}
.box-light .box-inside {background: url("../images/bg-box-light-top2.gif") 0 0 no-repeat; padding:10px 5px 1px 5px;}

.sidebar-box {border-radius:6px; border:1px solid #ddd; margin:10px 4px 10px 3px; padding:5px;}
.sidebar-box h4 {color:white; background:#222; padding:3px 10px; border-radius:6px;}
.sidebar-box h5 {margin: 5px;}
.sidebar-box ul {color:#999; list-style:none; margin:3px 0; padding:0 5px 5px 5px;}
.sidebar-box li {margin:6px 0; border-bottom:1px dotted #ddd; padding:3px 0;}

/* stream overlay */
#livestream {
background:url("../images/asm_tv_live_stream.jpg") no-repeat;
display:block; height:50px; width:562px; text-indent:-9999cm;
}
.overlay {
background:url("../images/1x1.png") no-repeat #000;
display:none; color:#efefef; width:650px; padding:30px; border-radius:5px;
}
.overlay .coming-up h3 {display: inline-block; margin-bottom: 0;}
.overlay .coming-up h3 a {color: #ccc;}
.overlay .coming-up ul {padding-left: 10px;}
.overlay .coming-up li {list-style: none;}

/* news carousel */
#news-featured {
font-size:1.1em;
padding:0;
margin:5px 0;
background:#000;
border:2px solid rgba(0,0,0,0.7);
border-radius:6px;
height:300px;
color:#fff;
overflow:hidden;
background:top center no-repeat;
}
#news-featured h2 {color:white;}
#news-featured .news-padding {padding:0 10px 0 10px; height:74px; overflow:hidden; margin-bottom:10px;}
#news-featured .newsitem {margin:0; padding:190px 0 0 0;}
#news-featured .news-overlay {background:#000; color:white; background-color:rgba(0,0,0,0.7); height:100px; padding:5px 5px;}
#news-featured a {color:#fff; text-decoration:none;}
#news-featured p {margin:0; display:inline; font-size:14px;}
#news-navigation a { color:#fff; margin:0 3px 3px 3px; text-decoration:none; padding:0 4px 1px 4px; font-size:9px; font-weight:bold; float:right;}
#news-featured #news-navigation a:hover, #news-featured #news-navigation a.active {background:#fff; color:#000;}
#news-featured #news-navigation {height:15px; margin-top:-20px;}

.content-news {margin:0 5px; padding:5px 0 25px 0;}
.content-news span {color:#aaa; font-size:10px; padding-left:10px;}
.content-news ul {margin:0; padding:0; list-style:none;}
.content-news li {border-bottom:1px dotted #ccc;}

/* schedule */
table.schedule th {
background-color: #eee;
vertical-align: top;
padding:0.5em;
text-align: left;
font-size: 1.3em;
}

table.schedule td {
padding: 0.5em;
padding-left: 1em;
font-size: 1.3em;
font-weight: bold;
line-height:1;
}

table.schedule td a.location,
table.schedule td .description,
table.schedule td .canceled,
table.schedule td .until {font-size:70%; font-weight:normal;}

table.schedule td a {text-decoration: none;}
table.schedule td.canceled {opacity:0.5;}
table.schedule td .canceled {margin-bottom:0;}
table.schedule td .description {margin-top:0.5em;}

span.disclose {
display: none;
opacity: 0.5;
float: right;
padding-left:10px;
padding-right: 16px;
background-repeat: no-repeat;
background-position: right top;
font-size: x-small;
font-weight: normal;
}
span.disclose.more {background-image:url("/@@/asm.schedule/bullet_arrow_down.png");}
span.disclose.less {background-image:url("/@@/asm.schedule/bullet_arrow_up.png");}

.schedule span.disclose.hidden {background-image: none;}

.schedule span.asmtv {
float:right;
background-image:url("../images/asmtv.png");
display:inline-block;
width:24px;
height:24px;
}

.schedule td:hover span.disclose {opacity:1;}

table.schedule td .description:last-child {margin-bottom:0;}
table.schedule td .until {color:#666;}
table.schedule th {border-top:1px solid #ccc;}
table.schedule td {border-top:1px solid #eee;}
table.schedule tr.day th {background-color:#333; color:white;}
table.schedule td.current {background-color:#ebf2f3;}

div.scheduleclasses {margin-bottom:1em;}
div.scheduleclasses a {text-decoration:none; font-size:2em; margin-right:1em;}

div.scheduledays {margin-bottom:2em; border-top:2px solid #eee;}
div.scheduledays a {text-decoration: none; text-transform:uppercase; font-size:1.35em;}
div.scheduledays span {margin-right:1.2em; padding-top:1.5em; display:inline-block;}

div.scheduledays span.selected a,
div.scheduleclasses a.selected {color:black;}

.schedule td.major { border-left: gray solid 2px; border-right: gray solid 2px; }
.assemblytv .scheduleclasses { display: none; }

/* search */
#search-results h2 {border-bottom:1px solid #eee; padding-bottom:0.5em; margin-bottom:1.5em; font-size:14pt;}
#search-results dt {font-size:11pt; font-weight:bold;}
#search-results dt i {color: #999; font-style:normal; font-weight:normal; font-size:9pt;}
#search-results dt a {text-decoration:none;}
#search-results dd {margin-bottom:1.5em; margin-left:0; margin-top:0.2em;}
#search-results .match {background-color:#bdd6de;}

/* page content */
div.item.carousel-image {background-color: #ddd;}
img.carousel-image {max-width: 100%; max-height: 374px; margin: 0 auto;}

.twitter-timeline {width: 560px;}

/* apparently unused css that can probably be removed safely */
/*
a.readmore {color:#6e8f10; font-weight:bold; text-decoration:none; float:right; margin-bottom:5px;}
a.readmore:hover {text-decoration:underline; color:#e70101;}
p.subtitle {font-weight:bold; font-size:0.9em; margin:0;}
span.date {color:#6e8f10;}
*/

/*
#boxes {background:url("../images/bg-box-row.gif") no-repeat #fefefe; margin:0 -10px -10px -10px; padding-bottom:10px;}
#boxes .box-row {clear:both; padding-top:1px; border-top:2px solid white;}
#boxes .box-row div {
float:left;
width:263px;
padding:10px;
margin-bottom:10px;
}
.box-news, .box-events {list-style-type:none; margin-left:8px;}
.box-news span, .box-events span {display:block; color:#333;}
.box-news li, .box-events li {border-bottom:1px solid #ccc;}
*/

/*
.feature {
margin-bottom:20px;
font-size:0.9em;
}
.feature-content {
background: url("../images/bg-box-light-bottom.gif") 0 100% no-repeat;
padding-bottom:10px;
margin:5px 0;
}
.feature-content-inside {
background: url("../images/bg-box-light-top.gif") 0 0 no-repeat;
padding:2px 12px;
}
.feature h4, #boxes h3 {margin:5px 0 5px 0; border-bottom:1px solid #a4a9ac; font-size:1.2em;}
.feature ul {margin:0; padding:0; list-style-position:inside; list-style-type:square;}
.feature li {border-bottom:1px dashed #ccc; margin-bottom:2px;}
.feature a:link, .feature a:visited, .feature a {color:#484848; text-decoration: none; font-weight:bold;}
.feature a:hover {}
.feature-topic a:hover {text-decoration:none;}
.feature-content-inside img {margin:10px auto;}
.feature-topic a {
margin:0 0 0 0;
padding:5px 0 0 15px;
display:block;
color:#9db615 !important;
font-weight:bold;
text-decoration:none;
}
.feature-topic {
background: url("../images/feature-topic-bg.gif") 0 100% no-repeat;
margin:0 0 5px 0;
padding:0 0 5px 0;
display:block;
color:#9db615;
}
*/

/* 
div.listingBar {background-color:#e4e4e4; border-color:#ccc;}
.portletItemDetails {text-align:left; border-bottom:1px dotted #c6c6c6; color:#9e9e9e; padding:2px 0;}
.portletItemDetails span {text-align:left;}
.portlet-topic {font-weight:bold; font-size:1.0em;}
.documentDescription {font-weight:normal; }

* html .boxed {padding-left:20px;}
* html #button-top-1, #button-top-2 {display:inline;}
* html #button-top-1 {margin-right:35px;}
* html #news-featured .news-image {}
* html #nav-top-end {margin-left:-3px;}
* html #nav-top-inside {margin-left:3px;}
* html li-level1 {margin-top:-20px;}
* html li.-level1 {padding-top:20px;}
* html li.active {padding-bottom:0; height:20px;}
*/

/*
.schedule-time {
width:8em;
}

.schedulefilter .selected {
font-weight: bold;
}
*/


/*
.mediabottombar {
border:1px solid #ddd;
padding:1em;
margin-top:1em;
font-size:11pt;
color: #999;
}

.mediabottombar a,
.mediaitemlisting a {
text-decoration: none;
}

.mediabottombar .download {
background-image: url("images/icon-download.png");
background-repeat: no-repeat;
display: inline-block;
padding-left:26px;
height: 22px;
}

.mediabottombar .view {
background-image: url("images/icon-view.png");
background-repeat: no-repeat;
background-position: 0px 2px;
display: inline-block;
padding-left:36px;
float:right;
height: 22px;
}

.mediaitemlisting .item {
float: left;
margin-right:1em;
width:170px;
height:150px;
overflow:hidden;
}

.mediaitemlisting .item .thumbnail {
float: left;
}

.mediaitemlisting .item .thumbnail img {
border:2px solid white;
box-shadow: 0px 2px 3px #ccc;
}

.mediaitemlisting .item .description {
margin-top:0.5em;
float: left;
clear: both;
}

.mediaitemlisting .item .description table {
border-spacing: 0;
padding-bottom:1em;
}

.mediaitemlisting .item .rank {
font-size: 22pt;
color: #ccc;
padding: 0;
font-family: "Helvetica Neue", "Helvetica", Arial, sans;
}

.mediaitemlisting .title {
padding-top:0;
padding-bottom:0;
}

.mediaitemlisting .author {
color: #999;
padding-top:0;
padding-bottom:0;
}

.mediacategory {
clear: both;
float: left;
margin-bottom:2em;
}

.medianavigationbar {
font-size:12pt;
margin-top:1em;
clear:both;
}

.medianavigationbar .back {
float: left;
display: block;
}

.medianavigationbar .forward {
float: right;
text-align: right;
}

.medianavigationbar a {
text-decoration: none;
}

.medianavigationbar .control {
color: #555;
}
*/